@model Project
<tr>
    <td>

        <input asp-for="PlaceName" class="form-control form-control-sm" />
        <span asp-validation-for="PlaceName" class="text-danger"></span>
    </td>
    <td>

       

    <td style="width:90px">
        <button type="button" class="btn btn-primary btn-sm add"><span class="fa fa-plus"></span> Add</button>
    </td>
</tr>
