
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1>WELCOME TO OUR BOOKWORLD</h1>
        
    </div>
   
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">CategoryType</h5>
                <p class="card-text">We Have All Categories For You .</p>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">BookList</h5>
                <p class="card-text">Here You Will Find All Book As Your Demand.</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">If You Need , Can Contact With us.Our ContactAddress here...</p>
                <a href="#" class="btn btn-primary">BooksWorld</a>

            </div>
        </div>
    </div>
</div>

